<!doctype html>
<html>
    <head>
        <title>Inquisition, No One Expects It</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
        {% block head %}{% endblock %}
    </head>
    <body style="padding:40px">
        <div class="navbar navbar-fixed-top">
          <div class="navbar-inner">
            <div class="container">
              <a class="brand" href="/">Inquisition</a>
              <ul class="nav">
                <li class="active"><a href="/#pulls">Pull Requests</a></li>
                <li><a href="/#comments">Pull Request Comments</a></li>
                <li><a href="/#projects">Projects</a></li>
                <li><a href="/open-pull-requests">Open Pull Requests</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="container">
            {% block header %}{% endblock %}

            {% for message in get_flashed_messages() %}
            <div class="alert">
                <a class="close" data-dismiss="alert" href="#">×</a>
                {{ message }}
            </div>
            {% endfor %}

            <div class="container">
                {% block body %}{% endblock %}
            </div>

            <footer class="footer">
                <p class="pull-right"><a href="http://github.com/michaeljoseph/inquisition">Powered by Inquisition</a></p>
            </footer>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.js') }}"></script>
        {% block script %}{% endblock %}
    </body>
</html>
