{% extends "layout.html" %}

{% block title %}Open Pull Requests{% endblock %}

{% block body %}
<table class="table table-striping">
  <tr><th>Project</th><th style="width:100px">User</th><th>Title</th></tr>
{% for pull in open_pulls %}
    <tr>
      <td>{{pull.base.repo.name}}</td>
      <td>
          <a  href="{{ url_for('user', username=pull.user.login) }}">
            <img height="80" width="80" src="{{ avatars[pull.user.login] }}"/>
           </a>
      </td>
      <!--<td><a href="{{pull.html_url}}">{{pull.title}}</a></td>-->
      <td>
          <a data-toggle="collapse" data-target="#pr-body-{{pull.id}}" rel="tooltip" title="show pull request body">{{pull.title}}</a>
          <div id="pr-body-{{pull.id}}" class="collapse out">{% filter markdown %} {{pull.body}} {% endfilter %}</div>
      </td>
{% endfor %}
</table>
{% endblock %}
