{% extends "layout.html" %}

{% block title %}Open Pull Requests{% endblock %}

{% block body %}
<table class="table table-striping">
  <tr><th>Project</th><th style="width:100px">User</th><th>Title</th></tr>
{% for pull in open_pulls %}
    <tr>
      <td>{{pull.base.repo.name}}</td>
      <td>
          <a  href="{{ url_for('user', username=pull.user.login) }}">
            <img height="80" width="80" src="{{ avatars[pull.user.login] }}"/>
           </a>
      </td>

      <td>
          <a href="{{pull.html_url}}" target="_blank">{{pull.title}}</a>
          <div>{% filter markdown %} {{pull.body}} {% endfilter %}</div>
      </td>
{% endfor %}
</table>
{% endblock %}
