{% extends "layout.html" %}

{% block title %}nobody@{{organisation.name|lower}} expects the Code Review Inquisition!{% endblock %}

{% block body %}
<div class="hero-unit">
    <div class="page-header">
      <h1>{{projectname}}</h1>
    </div>
</div>
{% if project_data.pulls or project_data.comments %}
    <table class="table table-striping">
        <tr><th>User</th><th>Pulls</th><th>Comments</th></tr>
        {% for user, stats in project_data.items() %}
        <tr>
            <td><a href="{{ url_for('user', username=user) }}">{{ user }}</a>
            <td>{{stats.pulls}}</td>
            <td>{{stats.comments}}</td>
        </tr>
        {% endfor %}
    </table>
{% endif %}
{% endblock %}



