{% extends "layout.html" %}

{% block body %}

<div class="hero-unit">
    <div class="page-header">
      <h1><a href="{{user.html_url}}" target="_blank"><img src="{{avatar}}"/>{{user.name}}</a></h1>
    </div>
    <p>Public repos: {{user.public_repos}}</p>
    <p>Public gists: {{user.public_gists}}</p>
    <p>Followers: {{user.followers}}</p>
    <p>Following: {{user.following}}</p>
</div>
<table class="table table-striping">
    <tr><th>Project</th><th>Pulls</th><th>Comments</th></tr>
    {% for project, stats in project_stats.items() %}
    <tr>
        <td><a href="{{ url_for('project', projectname=project) }}">{{ project }}</a>
        <td>{{stats.pulls}}</td>
        <td>{{stats.comments}}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
